In [39]:
import pandas as pd

In [40]:
df = pd.read_excel("ds2.xlsx")

In [41]:
df

   x   y
0  2  69
1  9  98
2  5  82
3  5  77
4  3  71
5  7  84
6  1  55
7  8  94
8  6  84
9  2  64

In [42]:
x_mean = df['x'].mean()

In [43]:
x_mean

4.8

In [44]:
y_mean = df['y'].mean()

In [45]:
y_mean

77.8

In [46]:
df["x-x̄"] = df["x"] - x_mean

In [47]:
df["y-ȳ"] = df['y'] - y_mean

In [48]:
df["x-x̄"]

0   -2.8
1    4.2
2    0.2
3    0.2
4   -1.8
5    2.2
6   -3.8
7    3.2
8    1.2
9   -2.8
Name: x-x̄, dtype: float64

In [49]:
df["y-ȳ"]

0    -8.8
1    20.2
2     4.2
3    -0.8
4    -6.8
5     6.2
6   -22.8
7    16.2
8     6.2
9   -13.8
Name: y-ȳ, dtype: float64

In [50]:
df["xbar_ybar"] = df["x-x̄"] * df["y-ȳ"]

In [51]:
sum_xbar_ybar = df["xbar_ybar"].sum()

In [52]:
sum_xbar_ybar

320.59999999999997

In [53]:
df["xbar_xbar"] = df["x-x̄"] * df["x-x̄"]

In [54]:
sum_xbar_xbar = df["xbar_xbar"].sum()

In [55]:
sum_xbar_xbar

67.6

In [56]:
b = sum_xbar_ybar/sum_xbar_xbar

In [57]:
b

4.742603550295858

In [58]:
a = y_mean - (b*x_mean)

In [59]:
a

55.03550295857988

In [60]:
df["ycap"] = a + b*df["x"]

In [62]:
df["ycap"]

0    64.520710
1    97.718935
2    78.748521
3    78.748521
4    69.263314
5    88.233728
6    59.778107
7    92.976331
8    83.491124
9    64.520710
Name: ycap, dtype: float64

In [63]:
df.to_excel("ans.xlsx")